li.dropdown.active {

}
.navbar .nav>.active>a, .navbar .nav>.active>a:hover, .navbar .nav>.active>a:focus {
     color: rgb(255, 255, 255);
    text-decoration: none;
     background-color: rgb(64, 172, 98);
    -webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
    -moz-box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
    box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
}
.navbar .nav-pills > .active > a, .navbar .nav-pills > .active > a:hover, .navbar .nav-pills li.dropdown.open > .dropdown-toggle, .navbar .nav-pills li.dropdown.active > .dropdown-toggle {
    color: rgb(255, 255, 255);
    background-color: rgb(64, 172, 98);
    border-bottom-style: none;
}
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle {
    background: rgb(64, 172, 98);
}
#divSiteTitle {
    width: 283px;
    height: 84px;
    display: inline-block;
    background: url(../img/KLASS_cherny.svg) no-repeat center;
    background-size: 95%;
}
#divLogo {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: -3px;
}
