.newsSlickBox {
height: 200px;
}
.boxNewsItem {
    height: 200px;
    /*width: 100%;*/
    margin: 10px;
    background: #000;

    opacity: .8;
    transition: all .3s ease;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.center .slick-center > div > div {
    opacity: 1;
    transform: scale(1.08);
}
/*.slick-slide {*/
    /*transition: transform .3s;*/
/*}*/
.slick-dots {
    margin-left: 0;
}
.slick-dots {
    bottom: -25px;
    list-style: none;
    text-align: center;
    margin: 0;
    width: 100%;
}
.slick-dots, .slick-next, .slick-prev {
    position: absolute;
    display: block;
    padding: 0;
}
.slick-dots li {
    float: none;
}
.slick-next:before, .slick-prev:before {
    font-size: 20px;
    line-height: 1;
    color: green;
    opacity: .75;
}
.hoverDiscriptionNews {
    color: rgb(227,227,227);
    padding: 5px;
    height: 190px;
    background: rgba(0,0,0,.5);
    cursor: pointer;
    opacity: 0;
    transition: opacity .3s;
}
.slick-center div.boxNewsItem:hover > .hoverDiscriptionNews {
    opacity: 1;
}
.center .slick-center > div h3, .center .slick-center > div p {
    color: rgb(227,227,186);
}
.hoverDiscriptionNews > h3 {
    text-align: center;
}
.hoverDiscriptionNews > p {
    font-size: 11px;

}
